$font-light: 'Sarabun-Light'; // font-weight: thin
$font-regular: 'Sarabun-Book'; // font-weight: normal
$font-medium: 'Sarabun-Medium'; // font-weight: semi-bold
$font-bold: 'Sarabun-Bold'; // font-weight: bold
